.WrapperAuth {
  max-width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Form Title */
.WrapperAuth h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 28px;
}

.WrapperAuth input[type="text"],
.WrapperAuth input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}

.WrapperAuth button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.WrapperAuth button:hover {
  background-color: #45a049;
}
